#contain {
    border: 1px solid lightgray;
    text-align: center;
   
    width:700px; margin:0 auto;
}

#nav li {
    list-style: none;
}
#nav li{text-align:center;}
#nav ul li {
    width: 110px; height:50px;
    text-decoration:none;
    color: mediumpurple;
    background-color: lightcoral;
    display: block;
    float:left;
    margin:5px 5px 5px 5px;
    line-height:50px;
    text-align:center;

}
li a {
    text-decoration: none;
}
#nav ul li:first-child{border-radius: 20px 0 0 20px ;}
#nav ul li:last-child{border-radius: 0 20px 20px 0;}
#header,#footer{
    background-color:yellow;
    
    border: 1px solid gray;
    

}
#header,#footer{
    width:690px ; height:100px;
    text-align:center;
    line-height:100px;
    margin: 5px 5px 5px 5px;
}
#section {
    overflow: hidden;
    border: 1px solid gray;
    box-sizing: border-box;
    margin: 5px 5px 5px 5px;
}

#section>#content{
    width:70%; height:300px;
    border:1px solid gray;
    margin:5px 5px 5px 5px;
    float:left;
   
}
#section>#banner{
    width:27%; height:300px;
    border:1px solid gray;
    margin:5px 5px 0 0;
    float:right;
   
}


#nav {
    width: 98.5%;
    height: 150px;
    margin: 5px 5px 5px 5px;
    border: 1px solid gray;
}